* {
    font-family: 'Open Sans', sans-serif;
}

body::-webkit-scrollbar {
    appearance: none;
    display: none;
}

.no-scrollbar::-webkit-scrollbar {
    appearance: none;
}

.rotate-3d {
    transform: rotateX(20deg)
                rotateZ(-2deg);
}

.rotate-none {
    transform: rotate(0deg, 0deg, 0deg);
}

.a {
    background-color: #63d471;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
}

.rotate-project {
    transform:  rotateX(40deg)
                rotateY(20deg)
                rotateZ(-20deg);
}